*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h3{
		font-family:'Arial';
		font-size:25px;
		letter-spacing:1px;
		width:100%;
		background:#8A0808;
		padding:15px;
		color:#FFF;
		text-align: center;
		text-transform:uppercase;
}

#container{
	background: #BDBDBD;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;	
}
#container form 
{
	background: FFF;
	width: 500px;
	padding: 10px;	
}

#container form img
{
	margin: 15px auto;
	text-align: center;
	display: block;
}

#container form input
{
	width:80%;
	padding:5px;
	font-size:16px;
	display:block;
	margin:25px auto;
	border-radius:5px;
	border:1px;
	text-align:center;	
}

#container form input[type="submit"]
{
	background:#8A0808;
	padding:10px;
	color:#FFF;
	letter-spacing:1px;
	border:0;
	cursor:pointer;
}



